#leftcol {
	background-color: darkgray;
	width:25%;

	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#rightcol {
	background-color: darkgray;
	width:25%;
	display:block;
}

#fillcol {
	background-color: darkgray;
	width:100%;
	display:block;
}

#centercol {
	background-color: lightgray;
	display: grid;
}

.col {

}

.row {
	display: flex;
	justify-content: center;
}

.centerdiv {
	grid-column: 1;
	grid-row: 1;
	background: rgba(0, 0, 0, 0.7);
	z-index: 5;
}

canvas {
	grid-column: 1;
	grid-row: 1;
}

.mainmenubutton {
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.menup {
	color: white;
}

.menuin {
	display: block;
	margin: auto;
	color: white;
	background: black;
}

p, h1 {
	white-space: pre-wrap;
	text-align: center;
}

#p_pgn {
	text-align: left;
	font-family: monospace;
}

#p_fen {
	overflow-wrap: anywhere;
	font-family: monospace;
}
